p {
    font-size: 0.9em;
    text-align: justify;
    color: orange;
}

div.modal.wiki {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    left: 59%;
    top: 3em;
}

div.modal-content.wiki {
	background: rgba(39, 43, 48, 0.87) !important;
}

div.modal-body {
    height: 1.2em;
}

ul.wiki{
    flex: 1 0 12em;
}

li {
	font-size: 1em;
    color: #c5c3c1;
	list-style-type: circle;
    overflow-wrap: break-word;
}

li:hover {
    cursor: pointer;
} 

li::first-letter {
    text-transform: capitalize;
}    

button.btn.btn-outline-danger {
    position: absolute;
}

div.modal-footer {
    border-top: 1px solid #aba8a8;
    margin-top: 1em;
}