.selected {
    background-color: rgba(39, 43, 48, 0.68);
}

p {
    font-size: 0.8em;
    text-align: center;
    color: #94a2ef;
}

div.modal.wiki {
    position: relative !important;
    display: inline-flex;
    margin-top: -5.8em;
    right: 0;
    bottom: 0;
    left: 42.8em;
    top: -43.5em;
}

div.modal-dialog {
    position: relative;
}

div.modal-content.wiki {
    background-color: rgba(239, 231, 218, 0.58);
}

h4.wikiTitle {
    font-size: 1em;
    color: #a4a4ff;
    border-bottom: 1px solid rgb(121, 125, 158);
}

div.modal-body.header {
    text-align: center;
    padding-bottom: 1.85em;
}

div.modal-body {
    height: 1em;
}

ul.wiki{
    flex: 1 0 12em;
}

li {
	font-size: 1em;
    color: #2b2f38;
	list-style-type: circle;
    overflow-wrap: break-word;
}

li:hover {
    cursor: pointer;
} 

li::first-letter {
    text-transform: capitalize;
}    

button.btn.btn-outline-danger {
    position: relative;
    height: 3em;
    border-radius: 3px;
}

div.modal-footer {
    border-top: 1px solid #3c3d46;
    background-color: rgba(39, 43, 48, 0.7);
    margin-top: 1.3em;;
    border-radius: 2px;
    max-height: 6em;
}