.selected {
    background-color: rgba(39, 43, 48, 0.68);
    color: #fff998;
}

p {
    font-size: 0.7em;
    text-align: center;
    color: #94a2ef;
    margin-bottom: .2em;
}

div.modal.wiki {
    position: relative !important;
    display: inline-flex;
    width: 90%;
    min-width: 23em;
    margin-top: -5.8em;
    right: 0;
    bottom: 0;
    left: 46.5em;
    top: -55.5em;
}

div.modal-dialog {
    position: relative;
}

div.modal-content.wiki {
    background-color: rgba(239, 231, 218, 0.58);
    font-family: 'Raleway', sans-serif;
    max-height: 31em;
}

h4.wikiTitle {
    font-size: 1em;
    color: #a4a4ff;
    border-bottom: 1px solid rgb(121, 125, 158);
}

div.modal-body.header {
    text-align: center;
    padding-bottom: 1.85em;
}

div.modal-body {
    height: 1em;
}

ul.wiki{
    flex: 1 0 12em;
}

li {
	font-size: .8em;
    color: #2b2f38;
	list-style-type: circle;
    overflow-wrap: break-word;
    border-radius: 4px;
    padding-left: .5em;
}

li:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.89);
    color: #6b6868;
} 

li::first-letter {
    text-transform: capitalize;
}    

button.btn.btn-outline-danger {
    position: relative;
    height: 3em;
    border-radius: 3px;
    color: #921a16;
    border-color: transparent;
}

button.btn.btn-outline-danger:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

div.modal-footer {
    border-top: 1px solid #3c3d46;
    background-color: rgba(39, 43, 48, 0.7);
    margin-top: 1.3em;;
    border-radius: 2px;
    max-height: 6.5em;
}


@media all and (max-height: 38em) {
    div.modal.wiki {
        top: -65em;
        margin-top: -1em;
    }   
}

@media all and (max-width: 68em) {
    div.modal.wiki {
        left: 38em;
    }   
}

@media all and (min-width: 71em) {
    div.modal.wiki {
        left: 43.5em;
    }   
}

@media all and (min-width: 74.5em) {
    div.modal.wiki {
        left: 42.5em;
    }   
}

@media all and (min-width: 76em) {
    div.modal.wiki {
        left: 55.5em;
    }   
}