<div class="reservation">
  <div class="reserveForm">
    <div class="whichMeal">
      <p class="beOurGuest">Which shall we serve: 
        <span class="lunchDinner" (click)="dinner = !dinner" [ngClass]="{ 'opaque' : dinner }">
          {{this.meal[0]}} (12 - 16pm) 
        </span> 
        <span class="dinnerLunch" (click)="dinner = !dinner" [ngClass]="{ 'opaque' : dinner }">
          {{this.meal[1]}} (19 - 23pm)
        </span>
      </p>
    </div>  
    <form class="form-horizontal" novalidate (ngSubmit)="onSubmit(reserve)" [formGroup]="reserve">
      <fieldset>
      <div class="nameAndParty">
        <div class="form-group party" has-warning>
          <label *ngIf="party.valid && name.dirty" for="inputParty" class="col-lg-2 control-label">
            Number of Guests:
          </label>
          <div class="col-lg-10">
            <input type="number" class="form-control is-valid" id="inputSize"
                 placeholder="Number of Guests" 
                 formControlName="party"
            /> 
          </div>
        </div>
        <div class="form-group" has-warning>
          <label *ngIf="name.valid && name.touched" for="inputName" class="col-lg-2 control-label">
            Reservation Name(s):
          </label>
          <div class="col-lg-10 name">
            <input type="text" class="form-control is-valid" id="inputValid"
                 placeholder="Reservation Name(s)" formControlName="name" />
          </div>
        </div>  
      </div>  
        <div class="form-group" id="tickTok">
          <ngb-timepicker [(ngModel)]="time" [formControl]="ctrl" required></ngb-timepicker>
          <div *ngIf="!dinner; then lunchh else dinnner"></div>
          <ng-template #lunchh>
            <p class="meal"> {{this.meal[0]}}</p>
          </ng-template>  
          <ng-template #dinnner>
            <p class="meal"> {{this.meal[1]}}</p>
          </ng-template>  
          <div *ngIf="ctrl.valid && ctrl.dirty" class="small form-text text-success" id="validate">
            Excellent choice
          </div>
          <div class="small form-text text-danger" id="validate" *ngIf="!ctrl.valid">
            <div *ngIf="ctrl.errors['required']">Kindly select a time within our lunch hours</div>
            <div id="tooLate" *ngIf="ctrl.errors['tooLate']">Our apologies; that's too late</div>
            <div id="tooEarly" *ngIf="ctrl.errors['tooEarly']">Sadly, that's a bit too early</div>
          </div>
        </div>
        <div class="form-group" id="calendarChoice">
          <div class="col-lg-10 col-lg-offset-2">
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
              formControlName="myDate" placeholder="Click Calendar"></my-date-picker>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-outline-success" [disabled]="reserve.invalid">
              Submit
           	</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>   
</div>  