div.reserveInfo {
    left: 20%;
    position: relative;
    height: 80%;
    width: 60%;
    top: 10%;
    text-align: justify;
    border: 1px solid;
    border-radius: 8px;
    background-color: rgba(23, 27, 35, 0.74);
}

p.guestDetails {
    font-style: italic;
    margin: 2em 2em 2em 2em;
    color: rgba(240, 255, 255, 0.92);
    text-shadow: 1px 1px 8px #e1e4d8;
    font-size: 1.5em;
}

p.guestDetails:first-letter {
    text-transform: capitalize;
    font-size: 1.9em;
}    

div#tickTok.form-group {
	position: absolute;
	left: 85%;
    top: 10.3em !important;
    opacity: .70;
}

.whichMeal {
    border-radius: 3px;
    color: #bdb9b9;
    text-shadow: 0px 0px 7px rgba(243, 232, 211, 0.55);
    position: relative;
    text-indent: -.2em;
    width: 13em;
    text-align: left;
    left: 41%;
    top: 1em;
    font-weight: 200;
}

p.beOurGuest {
    font-family: 'Bilbo+Swash+Caps', cursive;
}

p.beOurGuest span:not(.dinnerLunch) {
    line-height: 4em;
}

span#allergyType:last-child::before {
    content: ' and ';
}

span#allergyType {
    font-weight: bold;
}

span.lunchDinner {
    font-weight: 100;
    color: #efe4ce;
    text-shadow: 0px 0px 7px rgba(243, 232, 211, 0.55);
    box-shadow: inset 0px 0px 6px 3px #6f5f5f;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 14px;
    padding-bottom: 6px;
    cursor: pointer;
}

span.lunchDinner:hover {
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 17px;
    padding-bottom: 9px;
}

span.dinnerLunch {    
    color: #826969;
    text-shadow: 1px 2px 8px #130404; 
    box-shadow: inset 0px 0px 8px 1px #efe4ce;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 7px;
    padding-bottom: 6px;
    cursor: pointer;
}

span.opaque:not(:hover) {
    opacity: .30;
}

span.dinnerLunch:hover {
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 10.5px;
    padding-bottom: 9px;
}

p.meal {
    position: relative;
    left: 2.2em;
    color: antiquewhite;
}

.reservation {
    background-image: url(https://static.pexels.com/photos/157054/pexels-photo-157054.jpeg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
    height: 100%;
    margin-top: -1.6em;
}

input {
	border-color: #818ae0 !important;
    background-color: transparent !important;
    text-align: center;
}

input::placeholder {
	color: rgba(222, 221, 224, 0.74);
    font-size: .8em;
}

input.ng-invalid:not(:focus) {
	font-style: italic;
}

input.form-control.is-valid.ng-valid:hover {
	border: 1px solid #818ae0 !important;
}

input.form-control.is-valid.ng-valid {
	color: #636adc;
	border: none;
	box-shadow: none;
    text-transform: capitalize;
}

label.col-lg-2.control-label {
    display: unset;
    margin-left: 1em;
    border-bottom: 1px solid;
    padding-bottom: .1em;
    color: #bdb6b6;
    font-weight: 200;
}

div#reserveFormValid.reserveForm {
    background-color: transparent;
}

.reserveForm {
	background-color: rgba(33, 28, 25, 0.68);
    border-radius: 6px;
    width: 80%;
    top: 2.5em;
    height: 37em;
    position: relative;
    left: 9.5%;
}

div.col-lg-10.name {
	margin-top: 1em;
}

.nameAndParty{
	width: 15em;
	position: relative;
	left: 12%;
    top: 4.5em;
}

#calendarChoice {
    position: absolute;
    width: 14em;
    left: 65%;
    top: 32.5%;
    opacity: .58;
    cursor: pointer;
}

div#submitButton.col-lg-10.col-lg-offset-2 {
    margin-left: 16%;
    position: relative;
    top: 11em;
}

button.btn.btn-outline-success:hover {
	color: #fff;
}

.btn[disabled] {
	text-decoration: line-through;
	opacity: .35 !important;
    color: springgreen;
}

div#tooEarly {
    margin-left: -2em;
}

div#tooLate {
    margin-left: -3em;
}