div.modal {
    display: inline-block !important;
    left: 47%;
    top: 32%;
    height: 80%;
    position: fixed;
}

p#guideline {
    font-family: 'Raleway', sans-serif;
}

div.modal-content {
    width: 70%;
    margin-left: -1%;
    border-left: 1px dotted papayawhip; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgba(234, 227, 223, 0.65);    
}

button.btn.btn-outline-danger {
    font-weight: 300;
	font-size: 1.1em;
    border-radius: 5px;
}

button.btn.btn-outline-danger:hover {
    background-color: #d9534f !important;
    border-color: #d9534f !important;  
}

img {
    border: 1px solid rgba(136, 133, 113, 0.95);
    width: 310px;
    height: 280px;
    margin-left: .2em;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px;
    box-shadow: -2px 1px 13px 1px #867c70;
}

.modal-footer {
    border-top: 1px solid #56585a;
}

#instruct-close.modal-footer.instruct {
    height: 2em !important;
    margin-top: -1em;
}

.modal-footer.noInstruct {
    height: 3em;
}

.modal-header {
    margin-top: -1em;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #6d7075;
}

h5.popupTitle {
    margin-right: 6.8em;
    color: #9a4711;
}

#instructions.modal-body {
    position: relative;
    padding: 15px;
    border-radius: 4px;
    color:  #282b31;
    width: 100%;
    margin-bottom: 1.8em;
    margin-top: .8em;
}

span.what {
    color: #3651e6;
}

h5.modal-title {    
    font-size: 1.2em;
    border-radius: 3px;
    color: #282b31;
    text-indent: .5em;
    padding-left: 2.5em;
    padding-top: .3em;
    padding-bottom: .3em;
}

div#instruct-close > button.btn.btn-outline-primary {
    margin-top: 1em;
}

.btn.btn-outline-primary:hover {
    color: floralwhite;
    background-color: #282b31 !important;
}