nav.navbar.navbar-default {
    background-color: #272b30 !important;
}

.navbar-default .navbar-collapse {
    margin-top: -4em;
    border-bottom-color: #989595;
}    

a.mainLinks {
	color: lavender;
	letter-spacing: .03em;
	font-size: 1.3em;
}

a.mainLinks:hover, a.mainLinks:focus {
	background-color: rgba(228, 228, 234, 0.3);
}