nav.navbar.navbar-default {
	z-index: 1300;
    background-color: #272b30 !important;
}

.navbar-default .navbar-collapse {
    margin-top: -4em;
    border-bottom-color: #989595;
}    

a.mainLinks {
	color: lavender;
	letter-spacing: .03em;
	font-size: 1.3em;
}

a.mainLinks:hover, a.mainLinks:focus {
	background-color: rgba(228, 228, 234, 0.3);
}

h1.navbar-brand {
    top: -2em;
    text-align: center;
    position: relative;
    font-family: 'Niconne', cursive;
    color: #cec5b2 !important;
    text-shadow: 0px 0px 7px #827e76;
}